.collection.messages {
  padding: 20px;

  .message {
    margin-bottom: 30px;
    &:last-child { margin-bottom: 0; }

    > .content {
      background: $green;
      border-radius: $radius;
      display: inline-block;
      font-size: 125%;
      font-weight: 300;
      color: $white;
      padding: 10px 14px;
      position: relative;
    }

    > .meta {
      color: darken($gray, 25%);
      margin-top: 10px;
    }
  }

}