.collection.messages {
  padding: 30px;

  .message {
    margin-bottom: 30px;
    transition: opacity 1s;

    &:last-child { margin-bottom: 0; }

    &.removed {
      display: none;
    }

    > .content {
      background: rgba($white, 0.15);
      border-radius: $radius;
      color: $white;
      display: inline-block;
      font-size: 350%;
      font-weight: 300;
      padding: 10px 14px;
      position: relative;

      img {
        background-color: $white;
        border-radius: $radius;
        display: block;
        margin: 4px 0;
        width: 100%;
      }
    }

    > .meta {
      color: darken($gray, 25%);
      margin-top: 10px;
    }
  }

}
