<div class="user js-user <%= defined?(user) ? ' js-user-' + user.udid.to_s : '' %>">
  <div class="meta"><%= defined?(user) ? user.name : '' %></div>
  <div class="content away">Nenhuma atividade identificada.</div>
</div>