.section.dashboard {
  height: 100%;

  .users,
  .timeline,
  .sidebar {
    display: table-cell;
    vertical-align: top;
  }

  .users,
  .sidebar {
    background: lighten($silver, 10%);
    width: 25%;
  }

  .timeline {
    border: 1px solid rgba($silver, 0.5);
    border-width: 0 1px;
    height: 200px;
  }
}