<div class="message">
  <div class="content"><%= defined?(message) ? (message.image? ? image_tag(message.image.content) : '')+message.message : '' %></div>
  <aside class="meta"><%= defined?(message) ? message.user.name : '' %></aside>
</div>