<% content_for :templates do %>
<template class="js-message-template">
<%= render partial: 'message' %>
</template>
<% end %>

<section class="ui video">
  <div class="embed">
    <iframe width="1280" height="720" src="//www.youtube.com/embed/<%= @event.get_youtube_video_id %>?autoplay=0&controls=2&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="brand">
    <img src="http://placehold.it/600x115/f00" class="video-image">
    <img src="http://placehold.it/600x280/0ff" class="timeline-image">
  </div>
</section>

<section class="ui timeline">
  <article class="collection messages js-messages">
    <% @messages.each do |message| %>
    <%= render partial: 'message', locals: {message: message} %>
    <% end %>
  </article>
</section>