.ui.button {
  background: $blue;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 8px 12px;
  transition: background 250ms;

  &:hover { background: darken($blue, 5%); }

  &[disabled], &.disabled { background: $gray; }
}