.ui.video {
  background: $black;

  > .embed {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe, object, embed {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  > .brand {
    height: 0;
    position: relative;
    text-align: center;

    img {
      left: 50%;
      position: absolute;
      top: 40px;
      transform: translateX(-50%);
      transition: opacity 250ms;
    }

    .video-image { opacity: 1; }
    .timeline-image { opacity: 0; }
  }
}